body {
  margin-left: 7%;
  margin-right: 7%;
  margin-top: 5%;
  background-color: #2bc78a;
  font-family: "Lucida Console", Monaco, monospace;
  color: #2B303B;
}

.parent {
  display: flex;
}

.small-column {
  width: 25%;
}

.column {
  width: 50%;
}

ul {
  list-style-type: none;
}

.emoji {
 font-size: 28px;
}

.selected {
  background-color: antiquewhite;
}

#selected-emoji {
  padding-top: 5%;
  font-size: 80px;
}
