body {
  margin-left: 7%;
  margin-right: 7%;
  margin-top: 5%;
  background-color: #2bc78a;
  font-family: "Lucida Console", Monaco, monospace;
}

.emoji {
 font-size: 28px;
}

ul {
  list-style-type: none;
}
